.board-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav {
    height: 40px;
    justify-content: flex-start;
    padding-left: 5px;
    margin-bottom: 5px;
}

.nav-btn {
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0.08);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 32px;
    border-radius: 3px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 4px;
    transition: background-color 0.3s ease-in-out;
}

.nav-board>span {
    font-size: 14px;
}

.nav-btn:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.nav-search>input {
    background-color: rgba(0, 0, 0, 0.08);
}

.nav-menu {
    height: 32px;
    width: fit-content;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 3px;
    font-weight: 700;
    margin-left: 10px;
    cursor: pointer;
    margin-right: 10px;
}

.nav-menu:hover {
    background-color: rgba(255, 255, 255, .8);
}

.nav-icon {
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

@font-face {
    font-family: logoFont;
    src: url(../fonts/Summer-Vibes-OTF.otf);
}

.nav-icon>span {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    font-family: logoFont;
}

.nav-icon i {
    font-size: 20px;
}

.nav-icon:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
}

.avatar {
    width: 32px;
    height: 32px;
    justify-self: flex-end;
    border-radius: 50%;
    background-color: #0079bf
}

.board {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}


/* Header */

.board-header {
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.board-name {
    height: 100%;
    max-width: 80%;
    width: fit-content;
    display: flex;
    justify-content: center;
    border-radius: 3px;
    margin-left: 45px;
    position: relative;
}

.board-label {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    line-height: 36px;
    cursor: pointer;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*margin-left: 35px;*/
    text-align: center;
    margin: 0 10px;
    color: white;
}

.board-name:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.board-name-edit {
    height: 100%;
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    padding-left: 9px;
    position: absolute;
    z-index: -1;
}

.board-header-fav {
    width: 36px;
    height: 36px;
    margin-left: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 3px;
    color: white;
    background-color: rgba(255, 255, 255, 0.08);
    transition: background-color 0.3s ease-in-out;
}

.board-header-fav:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

.board-header-fav-check {
    color: var(--yellow);
}

.board-content {
    flex-grow: 1;
    padding: 0 5px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.member-picker {
    min-width: 32px;
    height: 32px;
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-choose {
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    background-color: #5c7cfa;
    right: -3px;
    bottom: -3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8px;
}

.user {
    min-width: 32px;
    height: 32px;
    /*background-color: rgba(9, 30, 66, .04);*/
    margin-right: 5px;
    font-size: 12px;
    font-weight: 700;
    line-height: 32px;
    background-color: var(--pink);
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.change-btn {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F4F5F7;
    cursor: pointer;
    background: var(--dark-green);
    color: #fff;
}

.change-btn:hover {
    background: var(--green-ver2);
}

.unchange-btn {
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.unchange-btn i {
    color: var(--gray-ver3);
}

.unchange-btn:hover i {
    color: var(--gray-ver4);
}